* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html { 
    background-color: white;
}

.title {
    background-color: rgb(152, 152, 209);
    padding: 10px;
    box-sizing: border-box;
}

.pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home {
    background-color: black;
    color: white;
    font-weight: bold;
}
